.home {
  background-color: #ffc2a0;
  padding: 30px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

.heading {
  color: #ff8542;
  font-family: 'Roboto';
  text-align: center;
}

.list-container {
  list-style-type: none;
  padding: 0;
}
